@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  /* Colors: */
  --unnamed-color-6f8d77: #6f8d77;
  --unnamed-color-4a5e4f: #4a5e4f;
  --unnamed-color-252f27: #252f27;
  --unnamed-color-caddcf: #caddcf;
  --unnamed-color-afccb7: #afccb7;
  --unnamed-color-95bc9f: #95bc9f;
  --unnamed-color-e4eee7: #e4eee7;
  --unnamed-color-0f172a: #0f172a;
  --unnamed-color-2e477f: #2e477f;
  --unnamed-color-1f2f55: #1f2f55;
  --unnamed-color-3e5faa: #3e5faa;
  --unnamed-color-ced7e9: #ced7e9;
  --unnamed-color-9eafd4: #9eafd4;
  --unnamed-color-6e87bf: #6e87bf;
  --unnamed-color-221e2e: #221e2e;
  --unnamed-color-685c8a: #685c8a;
  --unnamed-color-453d5c: #453d5c;
  --unnamed-color-a89cc9: #a89cc9;
  --unnamed-color-8b7bb8: #8b7bb8;
  --unnamed-color-e2deed: #e2deed;
  --unnamed-color-c5bddb: #c5bddb;
  --unnamed-color-38261c: #38261c;
  --unnamed-color-a87254: #a87254;
  --unnamed-color-704c38: #704c38;
  --unnamed-color-e7b293: #e7b293;
  --unnamed-color-e09970: #e09970;
  --unnamed-color-f7e5db: #f7e5db;
  --unnamed-color-efccb7: #efccb7;
  --unnamed-color-323f4b: #323f4b;
  --unnamed-color-1f2933: #1f2933;
  --unnamed-color-52606d: #52606d;
  --unnamed-color-3e4c59: #3e4c59;
  --unnamed-color-7b8794: #7b8794;
  --unnamed-color-616e7c: #616e7c;
  --unnamed-color-9aa5b1: #9aa5b1;
  --unnamed-color-e4e7eb: #e4e7eb;
  --unnamed-color-cbd2d9: #cbd2d9;
  --unnamed-color-f5f7fa: #f5f7fa;
  --unnamed-color-423d33: #423d33;
  --unnamed-color-27241d: #27241d;
  --unnamed-color-625d52: #625d52;
  --unnamed-color-504a40: #504a40;
  --unnamed-color-a39e93: #a39e93;
  --unnamed-color-857f72: #857f72;
  --unnamed-color-d3cec4: #d3cec4;
  --unnamed-color-b8b2a7: #b8b2a7;
  --unnamed-color-e8e6e1: #e8e6e1;
  --unnamed-color-faf9f7: #faf9f7;
  --unnamed-color-3b3b3b: #3b3b3b;
  --unnamed-color-222222: #222222;
  --unnamed-color-515151: #515151;
  --unnamed-color-7e7e7e: #7e7e7e;
  --unnamed-color-626262: #626262;
  --unnamed-color-9e9e9e: #9e9e9e;
  --unnamed-color-b1b1b1: #b1b1b1;
  --unnamed-color-cfcfcf: #cfcfcf;
  --unnamed-color-e1e1e1: #e1e1e1;
  --unnamed-color-f7f7f7: #f7f7f7;
  --unnamed-color-1a8b4f: #1a8b4f;
  --unnamed-color-e3bfb1: #e3bfb1;
  --unnamed-color-6a3e2d: #6a3e2d;
  --unnamed-color-b7efd1: #b7efd1;
  --unnamed-color-c77b30: #c77b30;
  --unnamed-color-000000: #000000;

  /* Font/text values */
  --unnamed-font-family-inter: Inter;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-10: 10px;
  --unnamed-font-size-12: 12px;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-18: 18px;
  --unnamed-font-size-20: 20px;
  --unnamed-font-size-24: 24px;
  --unnamed-font-size-28: 28px;
  --unnamed-font-size-32: 32px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-12: 12px;
  --unnamed-line-spacing-15: 15px;
  --unnamed-line-spacing-17: 17px;
  --unnamed-line-spacing-20: 20px;
  --unnamed-line-spacing-21: 21px;
  --unnamed-line-spacing-24: 24px;
  --unnamed-line-spacing-29: 29px;
  --unnamed-line-spacing-34: 34px;
  --unnamed-line-spacing-39: 39px;
}

/* Character Styles */
.unnamed-character-style-1 {
  font-family: var(--unnamed-font-family-inter);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-32);
  line-height: var(--unnamed-line-spacing-39);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}
.unnamed-character-style-2 {
  font-family: var(--unnamed-font-family-inter);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-28);
  line-height: var(--unnamed-line-spacing-34);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}
.unnamed-character-style-3 {
  font-family: var(--unnamed-font-family-inter);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-24);
  line-height: var(--unnamed-line-spacing-29);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}
.unnamed-character-style-4 {
  font-family: var(--unnamed-font-family-inter);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-20);
  line-height: var(--unnamed-line-spacing-24);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}
.unnamed-character-style-5 {
  font-family: var(--unnamed-font-family-inter);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-18);
  line-height: var(--unnamed-line-spacing-21);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}
.unnamed-character-style-6 {
  font-family: var(--unnamed-font-family-inter);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-20);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}
.unnamed-character-style-7 {
  font-family: var(--unnamed-font-family-inter);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-17);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}
.unnamed-character-style-8 {
  font-family: var(--unnamed-font-family-inter);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-12);
  line-height: var(--unnamed-line-spacing-15);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}
.unnamed-character-style-9 {
  font-family: var(--unnamed-font-family-inter);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-10);
  line-height: var(--unnamed-line-spacing-12);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}
